.content {
	position: relative;
}

p, a, h1, h2, h3 {
	font-family: "Roboto", sans-serif;
}

.navbar-brand {
	font-family: "Cardo", sans-serif;
}

.navbar {
	z-index: 1000 !important;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #d2d2d2 !important;
}

.navbar-nav > li > a {
	text-transform: uppercase;
	color: #333333;
	padding-left: 40px !important;
	padding-right: 40px !important;
	font-weight: bold;
	font-size: 15px;
}

.hook {
	min-height: 500px;
	background-image: url("../images/river-transparent.jpg");
	background-size: cover;
}

.hook-content {
	font-size: 40px;
	margin: auto 3%;
	position: relative;
	width: 60%;
	color: white;
}
.content-line {
	line-height: 200px;
	vertical-align: middle;
}
.intro {
	font-weight: bold;
	vertical-align: middle;
	font-size: 50px;
	text-shadow: 2px 2px 2px #222222;
	display: inline-block;
}
.separator {
	width: 20%;
	height: 3px;
	border-bottom: 4px solid rgb(0, 255, 180);
}
.subtitle {
	font-weight: bold;
	font-size: 30px;
	top: -50px;
	position: relative;
	text-shadow: 1px 1px 1px #222222;
	display: inline-block;
	vertical-align: middle;
}
#volunteer {
	position: relative;
	top: -85px;
}

#purpose {
	margin-top: 40px;
}
.purpose-picture {
	color: rgb(124, 205, 87);
	float: left;
}
.purpose-description {
	color: black;
	position: relative;
	left: 10px;
}
.purpose-title {
	font-size: 22px;
	position: relative;
	left: 10px;
	font-weight: bold;
}

























