.content {
	position: relative;
}

p, a, h1, h2, h3 {
	font-family: "Roboto", sans-serif;
}

.navbar-brand {
	font-family: "Cardo", sans-serif;
}

.navbar {
	z-index: 1000 !important;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #d2d2d2 !important;
}

.navbar-nav > li > a {
	text-transform: uppercase;
	color: #333333;
	padding-left: 40px !important;
	padding-right: 40px !important;
	font-weight: bold;
	font-size: 15px;
}

.hook {
	min-height: 500px;
	background-image: url("../images/river-transparent.jpg");
	background-size: cover;
}

.hook-content {
	font-size: 40px;
	margin: auto 3%;
	position: relative;
	width: 60%;
	color: white;
}
.content-line {
	line-height: 200px;
	vertical-align: middle;
}
.intro {
	font-weight: bold;
	vertical-align: middle;
	font-size: 50px;
	text-shadow: 2px 2px 2px #222222;
	display: inline-block;
}
.separator {
	width: 20%;
	height: 3px;
	border-bottom: 4px solid rgb(0, 255, 180);
}
.subtitle {
	font-weight: bold;
	font-size: 30px;
	top: -50px;
	position: relative;
	text-shadow: 1px 1px 1px #222222;
	display: inline-block;
	vertical-align: middle;
}
#volunteer {
	position: relative;
	top: -85px;
}

#purpose {
	margin-top: 40px;
}
.purpose-picture {
	color: rgb(124, 205, 87);
	float: left;
}
.purpose-description {
	color: black;
	position: relative;
	left: 10px;
}
.purpose-title {
	font-size: 22px;
	position: relative;
	left: 10px;
	font-weight: bold;
}
.photos {
	background-color: #f6f6f6;
	min-height: 400px;
	margin-top: 40px;
}
.words {
	min-height: 500px;
}
.title {
	padding-top: 80px;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	padding-bottom: 16px;
	border-bottom: 3px solid rgb(124, 205, 87);
	text-align: center;
	width: 30%;
	margin-bottom: 60px;
}

.testimonials blockquote {
	background: #dcdcdc none repeat scroll 0 0;
	border: medium none;
	color: #666;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 15px;
	position: relative;
}
.testimonials blockquote::before {
	width: 0;
	height: 0;
	right: 0;
	bottom: 0;
	content: "";
	display: block;
	position: absolute;
	border-bottom: 20px solid #fff;
	border-right: 0 solid transparent;
	border-left: 20px solid transparent;
	border-left-style: inset;
	border-bottom-style: inset;
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}
footer {
	background-color: #444444;
}
.copyright {
	vertical-align: middle;
	text-align: center;
	color: #eeeeee;
	font-size: 1.2em;
	line-height: 60px;
}
.social-buttons {
	margin: 10px 0;
}
ul.social-buttons li a {
  display: block;
  text-align: center;
  background-color: rgb(124, 205, 87);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: rgb(124, 205, 87);
}
.change-testimonial {
	border: none;
	background-color: green;
	color: white;
	font-size: 5em;
	display: inline-block;
	text-decoration: none;
}





















